RewriteEngine On
RewriteBase /

RewriteRule ^(.*)verify/(.*)$ https://verify.givemycertificate.com/verify/$2 [L,R=301]
RewriteRule ^(.*)covidcertimage/(.*)$ https://verify.givemycertificate.com/covid/getCertificateImage/$2 [L,R=301]