@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');


:root {
    /*--bg-gradient-color-1: #4A00E0;*/
    /*--bg-gradient-color-2: #8E2DE2;*/
    /*--bg-gradient-fixed-no-repeat: linear-gradient(to left, #4A00E0, #8E2DE2) no-repeat fixed;*/
    --bg-gradient-fixed-repeat: linear-gradient(to left, #4A00E0, #8E2DE2) repeat fixed;
    --bg-gradient-center-repeat: linear-gradient(to left, #4A00E0, #8E2DE2) repeat center;
    
    --bg-gradient-color-2: #00C4FF;
    --bg-gradient-color-1: #9D1BB2;
    --bg-gradient-fixed-no-repeat: linear-gradient(135deg, var(--bg-gradient-color-2) 8%, var(--bg-gradient-color-1) 75%);
    --label-gradient: linear-gradient(135deg, var(--bg-gradient-color-2) 20%, var(--bg-gradient-color-1) 50%, var(--bg-gradient-color-2) 88%);
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
     /*height: 100%; */
}

body {
    background: var(--bg-gradient-color-2);
    background: var(--bg-gradient-fixed-no-repeat);
    background-size: cover;
}
.container-fluid {
    /* border: 1px solid white; */
}

.main-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.container--v1 {
    /*border: 1px solid red;*/
    width: 100%;
    /*height: 100%;*/
    flex-direction: column;
}
.content-box {
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
}

.container--v3 {
    flex: 1.5 !important;
    /*margin-bottom: 110px !important;*/
    margin-top: 35px !important;
}
.container--v2 {
    /* height: 100% !important; */
    flex: 1;
}
.form-container {
    background: var(--white);
    min-height: 550px;
    width: 333px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: relative;
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.form-head {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px auto;
    z-index: 10;
    position: relative;
}

.form-head .round-icon {
    width: 100%;
    height: 100%;
    background: var(--bg-gradient-fixed-no-repeat);
    background-size: cover;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 13px 13px 20px #cfcfcF, 1px 1px 15px #E0E0FF;
    /*border: 1px solid var(--bg-gradient-color-2);*/
    border: none;
    user-select: none;
}

.form-head .round-icon img {
    width: 100%;
    height: 100%;
}

input[type=submit].custom-btn {
    background: var(--bg-gradient-fixed-no-repeat);
    background: var(--label-gradient);
    /*border: 1px solid var(--bg-gradient-color-2);*/
    border: none !important;
    box-shadow: none !important;
}

.rating-stars-div {
    margin-bottom: 0.5rem !important;
    padding-bottom: 5px;
}
.profession-selection-div, .rating-div {
    margin-bottom: 0.5rem;
    padding-bottom: 12px;
}
.profession-selection-div > label {
    margin-bottom: 0.1rem;
}
.profession-selection-div.error, .rating-stars-div.error, .rating-div.error {
    border-bottom: 2px solid red !important;
}

div#professionSelectionDiv, div#ratingDiv {
    position: absolute;
    background: var(--white);
    z-index: -1;
    right:  0;
    top: 18px;
    opacity: 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: transform 250ms ease-out, opacity 450ms ease-out;
    transform: translate(92%, 0);
    display: none;
}

div#ratingDiv {
    top: 73%;
    height: 171px;
    max-height: 232px;
    transform: translate(92%, -110px);
    transition: min-height 250ms ease-in-out, height 250ms ease-in-out, transform 250ms ease-out, opacity 450ms ease-out;
}

div#professionSelectionDiv.visible {
    z-index: 1;
    opacity: 1; 
    transform: translate(112%, 0);
}
div#professionSelectionDiv::before, div#ratingDiv::before {
    content: '';
    background: transparent;
    position: absolute;
    display: block;
    z-index: 1;
    left: -34px;
    border: 18px solid transparent;
    border-right: 19px solid var(--white);
    top: 10%;
}
div#professionSelectionDiv .profession-radios label {
    display: block;
}

div#ratingDiv.anim-end {
    height: initial;
}
div#ratingDiv.visible {
    z-index: 1;
    opacity: 1;
    transform: translate(112%, -110px);
}


div#ratingDiv.anim-start {
    height: 95px;
    min-height: inherit;
}


.form-overlay {
  display: none;
}

.form-container.submitting .form-overlay {
  position: absolute;
  z-index: 100;
  background: transparent;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: table;
}

.loader {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

p.loader-text {
    padding: 40px 15px;
    text-align: center;
    font-family: 'Righteous', sans-serif, serif;
}

.form-container.submitting #userDetailForm {
  filter: blur(4px);
  user-select: none;
}

.certificate-con {
    width: 90%;
    height: 100%;
}

img#certificateImg {
    width: 100%;
    height: auto;
}

div#con3 {
    flex: 1;
    height: 100%;
    padding: 50px 0;
}
div#con1.hide, div#con2.hide {
    display: none !important;
}

.certi-action-btns {
    position: fixed;
    left: 100px;
    top: 65px;
}

.download-certificate button, .new-certificate button {
    width: 100px;
    text-align: center;
    font-family: var(--font-family-sans-serif);
}

.download-certificate button img, .new-certificate button img {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 5px;
}

.new-certificate {
  margin-top: 20px;
}
.new-certificate button img {
  margin-left: 0;
}
/*div#ratingDiv textarea#lockdownExpDesc {
    max-height: calc(205px - (2rem + 24px));
    min-height: calc(171px - (2rem + 24px*3));
    height: calc(171px - (2rem + 24px*3));
    opacity: 1;
    transition: min-height 250ms ease-in-out, height 250ms ease-in-out, opacity 250ms ease-in-out;
}*/

/*div#ratingDiv.anim-start textarea#lockdownExpDesc {
    max-height: calc(205px - (2rem + 24px));
    min-height: 0px;
    height: 0px;
    opacity: 0;
}*/

/*div#ratingDiv.visible textarea#lockdownExpDesc.visible {
    transition: none;
}*/

textarea#lockdownExpDesc  {
    min-height: 100px;
    max-height: 250px;
    box-shadow: none;
    border: 2px solid #ced4da;
}
textarea#lockdownExpDesc:focus {
    border: 2px solid var(--bg-gradient-color-2);
}


#userDetailForm .field-group:last-child {
    margin-top: 16px;
}








.header-main {
    margin: 0 0 10px 0;
    font-family: sans-serif;
}

.starBox.relative {
    position: relative;
    /* top: 6px; */
    display: inline-block;
}

.starBox i.blank {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    color: #666;
    cursor: pointer;
    margin: 0px 4px 0px 0px;
    position: relative;
}

.starBox i:before {
    background: url('../../images/reviewicons.svg') no-repeat 0 0;
    display: inline-block;
    padding-top: 0;
    font-size: 12px;
    color: #666;
    content: "";
    width: 26px;
    height: 26px;
    position: relative;
    background-position: -212px -142px;
}

.starBox i.filled:before {
    background-position: -180px -142px;
}

span.ratingToolTip {
    position: absolute;
    padding: 10px 20px;
    background: #ef902f;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    top: 0px;
    transform: translate(0, -130%);
    display: none;
    white-space: nowrap;
}

span.ratingToolTip:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-top-color: #ef902f;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,90%);
}
.ratingI:hover span.ratingToolTip{
    display: block;
}


.field-group .error {
    border-bottom: 2px solid red;
}


.field-group label {
    font-family: var(--font-family-sans-serif);
    color: #666;
    display: block;
}
label {
    color: #666;
}

input.form-control {
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    z-index: 2;
    background-color: transparent;
}

input.form-control:focus {
    border: none;
    box-shadow: none;
    /*border-bottom: 2px solid var(--bg-gradient-color-1);*/
    border-bottom: 2px solid var(--bg-gradient-color-2);
    /*border-bottom: 2px solid var(--primary);*/
    background-color: transparent;
}

.field-group {
    position: relative;
    z-index: 2;
}

.field-group.label-collapse label {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    z-index: -1;
    transition: top .15s ease-in-out, bottom .15s ease-in-out;
}

.field-group.label-collapse.label-expand label {
    /*color: var(--primary);*/
    font-size: 0.65rem;
    font-weight: 600;
    top: -10px;
    transition: top .15s ease-in-out, bottom .15s ease-in-out;
}

.field-group.label-collapse.label-expand label span {

    /*background: var(--bg-gradient-fixed-no-repeat);*/
    background: var(--label-gradient);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-anim-disc {
    position: fixed;
    background: rgba(255, 255, 255, 0.07123);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.002);
    z-index: -1;
}

.bg-anim-disc.top-right {
    top: -100px;
    right: -60px;
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.03), 0 15px 12px rgba(0,0,0,0.022);*/
}
.bg-anim-disc.b1 {
    width: 250px;
    height: 250px;
}
.bg-anim-disc.b2 {
    width: 300px;
    height: 300px;
}
.bg-anim-disc.b3 {
    width: 360px;
    height: 360px;
}

.social-links .social-icons img {
    width: 38px;
    display: inline;
}

.social-icons {
    text-align: center;
}

.social-links .social-icons img:last-child {
    margin-left: 5px;
}

.social-links {
    margin-top: 18px;
}

.seperator-box {
    text-align: center;
    text-transform: lowercase;
    margin-bottom: 12px;
    height: 26px;
    line-height: 26px;
}

.seperator-box .seperator {
    height: 1px;
    width:  100%;
    background: linear-gradient(45deg, transparent, #7f7f7f, transparent);
    position: relative;
    top: 13.5px;
}

.seperator-box span {
    background: var(--white);
    display: inline-block;
    width:  20px;
    z-index: 2;
    position: relative;
    text-align: center;
    color: rgba(0,0,0,0.55);
}




/* content css starts here*/
.h1-wrapper {
    /* display: flex; */
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}
.h1-wrap {
    
}
.h1-wrapper img.left-img{
    width: 90px;
    height: auto;
    position: initial;
}
.h1-wrapper img.right-img{
    width: 90px;
    height: auto;
    position: initial;
}

h1.anim-h1 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', sans-serif, serif;
    font-size: 4rem;
    text-shadow: .03em .03em 0 hsla(230,40%,50%,1);
    width: 100%;
    text-align: center;
    position: relative;
}
h1.anim-h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(45deg, transparent 45%, hsla(48,20%,90%,1) 45%, hsla(48,20%,90%,1) 55%, transparent 0);
    background-size: .07em .07em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shad-anim 50s ease-in-out infinite;
    transform: translate(-49%, -48%);
    /*white-space: nowrap;*/
    width: 100%;
}

@keyframes shad-anim {
    0% {background-position: 0 0}
    0% {background-position: 100% -100%}
}

.content-box p.description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1.075rem;
    color: var(--white);
}
.type-js {
    font-weight: 600;
    font-family: monospace;
    font-size: 1.095rem;
    color: var(--white);
}

.text-js{
  opacity: 0;
  height: 41px;
  display: inline-block;
  vertical-align: middle;
  line-height: 38px;
}
.cursor{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  right: -5px;
  width: 2px;
  /* Change colour of Cursor Here */
  background-color: white;
  z-index: 1;
  animation: flash 1.1s none infinite alternate;
}
@keyframes flash{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* content css ends here*/
@media screen and (min-width: 576px) {
    .h1-wrapper img.left-img{
        left: -5px;
        bottom: 0px;
        top: initial;
    }
    .h1-wrapper img.right-img{
        right: -5px;
        bottom: 0px;
        top: initial;
    }
    .container--v3 {
        margin-bottom: initial !important;
    }
}
@media only screen  and (min-width: 786px) {
    .h1-wrapper {
        text-align: center;
    }
    .h1-wrapper img.left-img{
        left: 42px;
        bottom: 24px;
        top: initial !important;
        position: initial;
    }
    .h1-wrapper img.right-img{
        right: 50px;
        bottom: 24px;
        top: initial !important;
        position: initial;
    }
    .certificate-con {
        width: 70%;
        /*height: 80%;*/
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 992px) {
    .main-container {
        overflow: hidden;
    }
    h1.anim-h1 {
        font-size: 6rem;
    }
    .h1-wrapper img.left-img{
        left: 42px;
        bottom: 24px;
        top: initial;
        position: absolute;
    }
    .h1-wrapper img.right-img{
        right: 50px;
        bottom: 24px;
        top: initial;
        position: absolute;
    }
    .container--v1 {
    }
    .container--v3 {
        margin-bottom: initial;
        margin-top: 5px;
        padding: 0 35px 0 0 !important;
    }
    .container--v2 {
        height: inherit;
        margin-bottom: 0px;
    }
    .content-box {
        position: fixed;
    }
    .type-js {
        font-size: 2rem;
        font-weight: 500;
    }
}
