:root {
    --bg-gradient-color-1: #4A00E0;
    --bg-gradient-color-2: #8E2DE2;
    --bg-gradient-fixed-no-repeat: linear-gradient(to left, #4A00E0, #8E2DE2) no-repeat fixed;
    --bg-gradient-fixed-repeat: linear-gradient(to left, #4A00E0, #8E2DE2) repeat fixed;
    --bg-gradient-center-repeat: linear-gradient(to left, #4A00E0, #8E2DE2) repeat center;
    
    --bg-gradient-color-2: #00C4FF;
    --bg-gradient-color-1: #9D1BB2;
    --bg-gradient-fixed-no-repeat: linear-gradient(135deg,#00C4FF 0%,#9D1BB2 100%);
};

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
}


html, body {
    height: 100%;
}

body {
    background: var(--bg-gradient-color-2);
    background: var(--bg-gradient-fixed-no-repeat);
    background-size: cover;
}
.container-fluid {
    /*border: 1px solid white;*/
}
.main-container {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.container--v1 {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;
}
.container--v2 {
    height: 100%;
}
.form-container {
    background: var(--white);
    height: 550px;
    width: 333px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    position: relative;
}

.form-head {
    width: 100px;
    height: 100px;
    margin: 0 auto 25px auto;
    z-index: 10;
    position: relative;
}

.form-head .round-icon {
    width: 100%;
    height: 100%;
    background: var(--bg-gradient-fixed-no-repeat);
    background-size: cover;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 13px 13px 20px #cfcfcF, 1px 1px 15px #E0E0FF;
    /*border: 1px solid var(--bg-gradient-color-2);*/
    border: none;
    user-select: none;
}

.form-head .round-icon img {
    width: 100%;
    height: 100%;
}

input[type=submit].custom-btn {
    background: var(--bg-gradient-fixed-no-repeat);
    /*border: 1px solid var(--bg-gradient-color-2);*/
    border: none !important;
    box-shadow: none !important;
}


div#professionSelectionDiv, div#ratingDiv {
    position: absolute;
    background: var(--white);
    z-index: -1;
    right:  0;
    opacity: 0
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: transform 250ms ease-out;
}

div#professionSelectionDiv.visible {
    z-index: 1;
    opacity: 1; 
    transform: translate(112%, -10px);
}
div#professionSelectionDiv::before, div#ratingDiv::before {
    content: '';
    background: transparent;
    position: absolute;
    display: block;
    z-index: 1;
    left: -34px;
    border: 18px solid transparent;
    border-right: 19px solid var(--white);
    top: 10%;
}
div#professionSelectionDiv .profession-radios label {
    display: block;
}

div#ratingDiv {
    opacity: 0;
    z-index: -1;
    top: 73%;
    height: 171px;
    max-height: 232px;
    transform: translateY(-110px);
    transition: min-height 250ms ease-in-out, height 250ms ease-in-out, transform 250ms ease-out, opacity 300ms ease-in-out;
}

div#ratingDiv.anim-end {
    height: initial;
}
div#ratingDiv.visible {
    z-index: 1;
    opacity: 1;
    transform: translate(112%, -110px);
}


div#ratingDiv.anim-start {
    height: 95px;
    min-height: inherit;
}

div#ratingDiv textarea#lockdownExpDesc {
    max-height: calc(205px - (2rem + 24px));
    min-height: calc(171px - (2rem + 24px*3));
    height: calc(171px - (2rem + 24px*3));
    opacity: 1;
    transition: min-height 250ms ease-in-out, height 250ms ease-in-out, opacity 250ms ease-in-out;
}

div#ratingDiv.anim-start textarea#lockdownExpDesc {
    max-height: calc(205px - (2rem + 24px));
    min-height: 0px;
    height: 0px;
    opacity: 0;
}

div#ratingDiv.visible textarea#lockdownExpDesc.visible {
    transition: none;
}


#userDetailForm .field-group:last-child {
    margin-top: 16px;
}








.header-main {
    margin: 0 0 10px 0;
    font-family: sans-serif;
}

.starBox.relative {
    position: relative;
    /* top: 6px; */
    display: inline-block;
}

.starBox i.blank {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    font-style: normal;
    color: #666;
    cursor: pointer;
    margin: 0px 4px 0px 0px;
    position: relative;
}

.starBox i:before {
    background: url('../../images/reviewicons.svg') no-repeat 0 0;
    display: inline-block;
    padding-top: 0;
    font-size: 12px;
    color: #666;
    content: "";
    width: 26px;
    height: 26px;
    position: relative;
    background-position: -212px -142px;
}

.starBox i.filled:before {
    background-position: -180px -142px;
}

span.ratingToolTip {
    position: absolute;
    padding: 10px 20px;
    background: #ef902f;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    top: 0px;
    transform: translate(0, -130%);
    display: none;
    white-space: nowrap;
}

span.ratingToolTip:after {
    content: "";
    width: 0px;
    height: 0px;
    border: 10px solid transparent;
    border-top-color: #ef902f;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%,90%);
}
.ratingI:hover span.ratingToolTip{
    display: block;
}


.field-group .error {
    border-bottom: 2px solid red;
}


.field-group label {
    font-family: var(--font-family-sans-serif);
    color: #666;
    display: block;
}

input.form-control {
    border: none;
    border-bottom: 2px solid #ced4da;
    border-radius: 0;
    z-index: 2;
    background-color: transparent;
}

input.form-control:focus {
    border: none;
    box-shadow: none;
    border-bottom: 2px solid var(--primary);
    background-color: transparent;
}

.field-group {
    position: relative;
    z-index: 2;
}

.field-group.label-collapse label {
    position: absolute;
    bottom: 0;
    font-size: 1rem;
    z-index: -1;
    transition: top .15s ease-in-out, bottom .15s ease-in-out;
}

.field-group.label-collapse.label-expand label {
    /*color: var(--primary);*/
    font-size: 0.65rem;
    font-weight: 600;
    top: -10px;
    transition: top .15s ease-in-out, bottom .15s ease-in-out;
}

.field-group.label-collapse.label-expand label span {

    background: var(--bg-gradient-fixed-no-repeat);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-anim-disc {
    position: absolute;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.002);
    z-index: -1;
}

.bg-anim-disc.top-right {
    top: -100px;
    right: -60px;
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.03), 0 15px 12px rgba(0,0,0,0.022);*/
}
.bg-anim-disc.b1 {
    width: 250px;
    height: 250px;
}
.bg-anim-disc.b2 {
    width: 300px;
    height: 300px;
}
.bg-anim-disc.b3 {
    width: 360px;
    height: 360px;
}

